MISTRAL_API_KEY=mistral_key
MODEL_NAME=mistral-large-latest
GEMINI_API_KEY=googlekey
AWS_REGION=us-east-1
BEDROCK_MODEL_ID=us.anthropic.claude-haiku-4-5-20251001-v1:0
AWS_BEARER_TOKEN_BEDROCK=bedrockkey
OPENROUTER_API_KEY=your_openrouter_api_key